<div class="container mt-6">
  <div class="colums is-centered">
    <div class="box column is-one-third" style="margin: auto;">
      <h1 class="title has-text-centered">Password Generator</h1>
      <div class="field">
        <label>Lenght</label><br />
        <input
          class="input"
          (input)="onChangeLenght($any($event.target).value)"
        />
      </div>
      <div class="field">
        <div class="control">
          <label >
          <input type="checkbox" (change)="onChangeLatter()" />
          Use Latter</label>
        </div>
        <div class="control">
          <label class="checkbox">
          <input type="checkbox" (change)="onchangeNumber()" />
          Use Number</label>
        </div>
        <div class="control">
          <label class="checkbox">
          <input type="checkbox" (change)="onchangeSymbols()" />
          Use Symbols</label>
        </div>
      </div>
      <button
      [disabled]="!(Lenght && (includeNumber || inclideSymbols || inclideLatter))"
      (click)="onButtonClick()" class="button is-link is-fullwidth">Generator!</button>
      <div class="box" *ngIf="password">
        <label>Your Password</label>
        <input class="input" [value]="password" type="text" />
      </div>
    </div>
  </div>
</div>





